tags
result
atuin/.config/nvim/data/key
atuin/.config/nvim/atuin-receipt.json
hypr/.config/hypr/pc.conf
fish/.config/fish/fish_variables
kitty/.config/kitty/dank-tabs.conf
kitty/.config/kitty/dank-theme.conf
