Code - OSS/
Code/
Electron/
Kvantum/
autostart/
bluetuith/
brave-flags.conf
calcurse/
chrome-beta-flags.conf
chrome-dev-flags.conf
chrome-flags.conf
chromium-flags.conf
code-flags.conf
dconf/
discord/
electron-flags.conf
electron12-flags.conf
electron18-flags.conf
electron20-flags.conf
falkon/
flashfocus/
foot/
gtk-4.0/
htop/
kanshi/
libfm/
light/
microsoft-edge-beta-flags.conf
microsoft-edge-dev-flags.conf
microsoft-edge-stable-flags.conf
nwg-displays/
nwg-wrapper/
pacseek/
pcmanfm/
profile.d/
pulse/
qt5ct/
qt6ct/
ranger/
rofi/
swappy/
sworkstyle/
systemd/
user-dirs.dirs
vivaldi-stable.conf
vlc/
way-displays/
waybar/
wob.ini
youtube-music-flags.conf
zeit.db
zsh-plugins/*
!zsh-plugins/init
zsh/
