/*
!nvim
nvim/plugin/packer_compiled.lua
nvim/lazy-lock.json
!sway
!swaylock
!tmux
tmux/plugins
!starship
!fish
fish/completions/bun.fish
fish/conf.d/*.custom.fish
fish/fish_variables
!kitty
nvim/lazy-lock.json
