layout {
	tab_template name="main_tab" {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
		children
		pane size=2 borderless=true {
			plugin location="zellij:status-bar"
		}
	}
	pane_template name="strider_pane" {
		pane split_direction="Vertical" {
			pane borderless=true size="15%" { 
				plugin location="zellij:strider"
			}
			children
		}
	}
	main_tab name="Terminal" {
		pane
	}
	main_tab name="Dotfiles" cwd="/home/ale/.config" { 
		pane
	}
}
