* {
	background-image: none;
	box-shadow: none;
}

/* Main window - fullscreen overlay */
window {
  background-image: image(url("backgrounds/purple.jpg"))
}

/* Button container */
button {
	color: rgba(230, 217, 255, 1.0);
  background: rgba(79, 69, 127, 0.4);
	border: 2px solid rgba(127, 111, 159, 0.4);
	border-radius: 12px;

	margin: 16px;
	padding: 20px;

	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;

	font-family: "JetBrains Mono";
	font-size: 16px;
	font-weight: bold;
}

button:focus, button:active {
	border-color: #9F8FBF;
}

/* Individual button styling with your color palette */
#lock {
	background-image: image(url("icons/lock.png"));
}

#logout {
	background-image: image(url("icons/logout.png"));
}

#suspend {
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	background-image: image(url("icons/reboot.png"));
}
